<div class="container text-center mt-5">
    <h1 class="title">¡Bienvenido a PeliculasV2!</h1>
    <p class="subtitle">Explora el mundo del cine con las mejores películas, estrenos y recomendaciones.</p>
    <p>Algo de lo que puedes encontrar en esta página es: </p>
  
    <!-- Sección de Destacados -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="info-box">
          <h3>Estrenos</h3>
          <p>Descubre las películas más recientes en cartelera.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-box">
          <h3>Más Populares</h3>
          <p>Explora las películas mejor valoradas por la audiencia.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info-box">
          <h3>Clásicos</h3>
          <p>Revive los mejores clásicos del cine de todos los tiempos.</p>
        </div>
      </div>
    </div>
  
  
    <!-- Llamado a la acción -->
    <div class="cta mt-4">
      <h2>No te pierdas los próximos estrenos</h2>
      <p>"Donde cada película es una nueva aventura." </p>
    </div>
  </div>
